.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.App h1 {
  display: block;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scoreboard {
  width: 20rem;
  height: 30.4rem;
  margin-right: auto;
  border: 1px solid black;
  border-top-right-radius: 25px;
}

.board {
  width: 30.4rem;
  height: 30.4rem;
  margin-right: 30px;
  margin-left: auto;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
}

.square:hover {
  background: lightblue;
  cursor: pointer;
}

.scoreContainer {
  display: flex;
  flex-wrap: wrap;
}

.score {
  width: 10rem;
  height: 8rem;
  border: 1px solid black;
  margin: auto;
  margin-top: 30px;
}

.input {
  /* margin: auto; */
  font-size: 3.5rem;
  /* text-align: center;
  padding: 30px; */
}
